body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.burrito_card{
  background-image: url("./tortilla.jpg");
}
.burrito_card_grid{
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
  position: absolute;
  z-index: 1;
}

.burrito_card_grid_2{
  display: grid;
  position: absolute;

  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
  z-index: 2;
}


.rainbow_title{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
